.section-3 h1 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.section-3 p {
  color: var(--Cool-gray);
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-1,
.service-2,
.service-3 {
  border: 1px solid hsl(231, 11%, 63%);
  padding: 1.3rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.service-1:hover,
.service-2:hover,
.service-3:hover {
  border: 1px solid hsl(243, 100%, 62%);
}

.service-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service-text-head {
  margin-bottom: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.service-text-p {
  font-size: 1.1rem;
  color: var(--Cool-gray);
}

.price {
  font-size: 1.1rem;
  color: var(--Purplish-blue);
  font-family: 500;
}

@media screen and (max-width: 468px) {
  .section-3 p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .service-text-head {
    font-size: 1.4rem;
  }
}
